/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
}

h1 {
  font-size: 16px;
  font-style: italic;
  color: #373fff;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  
  width: 100%;
  max-width: 980px;
  
  margin: 0 auto;
}

.app {
  position: relative;
  background: #eee;
  grid-column: 1 / 3;
  
  max-width: 980px;
  max-height: 980px;

  width: 100vw;
  height: 100vw;  /* intentional, preserves a square aspect ratio. */
  
  margin: 0 auto;
}

.app button {
  position: absolute;
  top: 0;
  left: 0;
  
  font: inherit;

  width: 100%;
  height: 100%;
  
  background: #eee;
  border: 0;
  cursor: pointer;
}

.app button:hover {
  background: #ccc;
}

.app button:active {
  background: #333;
  color: #fff;
}

.app video {
  position: absolute;
  top: 0;
  left: 0;
  background: #ccc;
  
  width: 100%;
  height: 100%;
  
}

.app .output {
  position: absolute;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
}

.confidence {
  display: inline-block;
  height: .8em;
  background: #000;
}

.signature {
  display: none;
  /*
  position: absolute;
  bottom: 1em;
  left: 1em;
  */
}

.info {
  grid-column: 1 / 2;
  overflow: hidden;
  
  align-self: stretch;
}

.matches {
  padding: 1em;
  list-style-type: none;
  white-space: nowrap;
}

.match {
  grid-column: 2 / 3;
  background: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: rgb(174, 180, 186);
  
  align-self: stretch;
}